@model IEnumerable<Category>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1>Index</h1>
    <p>Pishak</p>

    <a class="btn btn-primary" asp-controller="Category" asp-action="Create">Create category</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DisplayOrder</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>@category.DisplayOrder</td>
                </tr>
            }
        </tbody>
    </table>
</div>

